canvas#digit {
    display: block;
    height: 280px;
    width: 280px;
    margin: 0 auto;
    border: 1px solid #777;
}

ul#guess li {
    color: #ccc;
}

ul#guess li.actual {
    font-weight: bold;
    color: #080;
}

ul#guess li span {
    margin: 0 5px;
    display: inline-block;
    background-color: #ccc;
    height: 10px;
    line-height: 10px;
}

ul#guess li.actual span {
    background-color: #080;
}