canvas#digit {
    display: block;
    height: 280px;
    width: 280px;
    margin: 0 auto;
    border: 1px solid #777;
}

canvas#digit.drawing {
    cursor: crosshair;
}

ul#guess li {
    color: #333;
}

ul#guess li.actual {
    font-weight: bold;
    color: #080;
}

ul#guess li span {
    margin: 0 5px;
    display: inline-block;
    background-color: #333;
    height: 10px;
    line-height: 10px;
}

ul#guess li.actual span {
    background-color: #080;
}

.buttons {
    margin-top: 10px;
    text-align: center;
}

.buttons button {
    width: 170px;
}